:root {
    --dark-blue: #003;
    --green: #070;
    --red: #A10;
    --light-blue: #ADEFFF;
    --error: #ADEFFF;
}

html {
	background-color: var(--dark-blue);
}

body {
	place-items: center;
	background-color: var(--dark-blue);
	background-image: url("wp15bg.png");
	background-blend-mode: soft-light;
	background-repeat: repeat;
	margin: 0px;
    padding: 0px;
	font-family: "Inter", sans-serif;
}

#wrap {
	display: flex;
	position: relative;
	width: 100vw;
}


#answers-wrap {
	width: 600px;
	background: #111;
	color: white;
	margin: 0 auto;
	text-align: center;
	padding: 0 3em 5em 3em;
}

.answer {
	margin-bottom: 1em;
	padding: 1em 2em;
	background: #222;
    background-position: center;
    background-size: cover;
    background-blend-mode: multiply;
	border-radius: 20px;
	border: 0.5px solid #333;
}

.item-text {
	margin: 5px 0;
    line-height: 1.5;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

h1 {
	font-family: "Inter", sans-serif;
	font-weight: 900;
	text-transform: uppercase;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
}

input {
	font-size: 1.5em;
	font-family: "Inter", sans-serif;
	text-align: center;
	width: 80%;
}

strong {
	font-weight: 700;
}

.word {
    padding: 0 0.25em;
}

#lives {
    display: table-cell;
	font-size: 3em;
	color: #A10;
	padding: 0.5em;
}

.alert-box {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 70vw;
    text-align: center;
    border: 1px solid #ddd;
    z-index: 999;
}

.alert-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#incorrect {
    background: var(--red);
    color: white;
}

#correct {
    background: var(--green);
    color: white;
}

.hidden {
    display: none;
}

#game-over {
    background: #444;
    color: white;
	height: 320px;
}

button {
    width: 100%;
    height: 100%;
    background: transparent;
    color: white;
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    border: 0;
    cursor: pointer;
	text-decoration: underline;
	text-transform: uppercase;
}

#hearts-grid {
    display: inline-grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100%;
}

.button-box {
    position: relative;
}

#help-alert {
    background: var(--light-blue);
    color: #111;
    height: auto;
}

#help-text {
    height: auto;
    margin: 0 2em;
}

#header-wrap {
	position: sticky;
	top: 0;
	background: #111;
	padding-top: 20px;
}

@media screen and (max-width: 640px) {
	h1 {
		font-size: 1.2em;
	}
	
	#lives {
		font-size: 2em;
	}
	
	button {
		font-size: 1em;
	}
}

#score {
	color: white;
	font-weight: 700;
	font-size: 0.7em;
}

#error-box {
	background: var(--error);
}

#error-text {
    margin: 0 2em;
}

#timer-text {
    display: inline-grid;
	color: white;
	
}

#loading {
	height: 600px;
}

/* LOAD ICON */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}

.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	top: 172px;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 4px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}

@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

#timer {
	display: inline;
	font-weight: 700;
	font-size: 1.5em;
}

#game-over-grid {
	display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

#game-over-text {
	height: 100%;
	position: absolute;
	top: 25px;
	display: block;
	width: 100%;
}

#score-text {
	font-weight: 700;
	padding: 1em 0;
	font-size: 1.5em;
}

.game-over-button {
	background: #555;
	text-transform: none;
	font-size: 1em;
	width: 80%;
}
